<div class="container">
  <div class="row" style="margin-top:12px;">
    <div class="col-md-4">
      <div class="form-group">

        <div *ngIf="selectedProject!=null">
          <select class="form-control" [hidden]="notLinkedWorkers.length==0">
            <option *ngFor="let worker of notLinkedWorkers"
                    (select)="selectWorker(worker)"
            >{{worker.firstName + ' ' + worker.secondName}} </option>
          </select>

          <button (click)="linkWorker(selectedProject, selectedWorker)"
                  [hidden]="selectedProject == null || notLinkedWorkers.length==0"
                  class="btn btn-warning pull-right"
                  style="margin-left:12px;"
                  type="button"><i class="fa fa-plus"></i> Assign specialist to project
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 28px;">
    <!-- Menu -->
    <div class="col-md-3">
      <br>
      <div class="list-group list-group-flush">
        <a (click)="selectAllProjectsWorkers()" class="list-group-item list-group-item-action">
          <i class="fa fa-newspaper-o"></i>&nbsp;All available specialists
        </a>
        <br>

        <!--  Project List-->
        <a (click)="selectProject(project)" *ngFor="let project of projects"
           class="list-group-item list-group-item-action">
          <i class="fa fa-book"></i>&nbsp;
          <input (change)="updateProject(project)" [(ngModel)]="project.name" class="input-label" style="width: 80%"
                 type="text"/>
          <a (click)="deleteProject(project)" class="pull-right text-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </a>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">

          <h3 *ngIf="selectedProject != null">{{selectedProject.name}}</h3>
          <h3 *ngIf="selectedProject == null "></h3>
          <p style="color: red; font-size: 16px" *ngIf="this.allWorkers.length === 0">No specialists created</p>
          <p style="color: red; font-size: 16px" *ngIf="this.linkedWorkers.length === 0 && this.selectedProject!=null">
            No specialists assigned</p>
        </div>
      </div>

      <div class="row" *ngIf="selectedProject == null">
        <app-worker-comp (workerDeleted)="removeWorker($event)"
                         (workerUpdated)="updateWorker($event)"
                         *ngFor="let w of allWorkers" [worker]="selectWorker(w)">
        </app-worker-comp>
      </div>

      <div class="row" *ngIf="selectedProject != null">
        <app-worker-comp (workerUpdated)="updateWorker($event)"
                         (workerUnlink)="unlinkWorker(selectedProject, selectedWorker)"
                         *ngFor="let linkedWorker of linkedWorkers" [worker]="selectWorker(linkedWorker)">
        </app-worker-comp>
      </div>
    </div>
  </div>
</div>
